@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@font-face {
    font-family: KG;
    src: url("./assets//fonts/KGPrimaryPenmanship.ttf");
}
@font-face {
    font-family: Rubik;
    src: url("./assets//fonts/RubikDoodleShadow.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "KG", sans-serif;
    /* user-select: none; */
}
p{
    margin:0
}

form {
    display: contents;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    background-image: url("/src/assets/background/background.jpg");
    background-size: cover; /* This scales the background image to cover the entire body */
    background-repeat: round;
}

#root {
    height: 100%;
    box-sizing: border-box;
}

section {
    display: contents;
}

.MuiPaper-root {
    display: flex;
    flex-shrink: 0;
}

.MuiBox-root {
    display: flex;
    flex-shrink: 0;
}

img {
    object-fit: contain;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::selection {
    color: white;
    background: #00afef;
}
